html,
body {
  background-color: #ff0000;
  color: white;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

header {
  margin-top: 5%;
  margin-left: 10%;
  width: 80%;
  height: 10%;

  background-color: rgb(14, 87, 146);
}

main {
  margin-top: 5%;
  background-color: #000000;
  height: 60%;
  width: 100%;
}

.image {
  height: 15rem;
  width: 15rem;
  background-color: white;
}

.box {
  margin-left: 10%;
}
